*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
vendor/*

# Allow composer subfolder and autoload.php
!vendor/composer/
!vendor/composer/*
!vendor/autoload.php
!vendor/phpstan/

# PHPStan files
phpstan.neon
phpstan-baseline.neon
.phpstan-cache/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
build-mac.sh
build-zip/
commercebird-*.zip