# PHPStan configuration for Tickera Apple Wallet WordPress Plugin - GitHub Actions
# Simplified version for CI environments

parameters:
    level: 1
    paths:
        - includes/
    
    # Bootstrap files that we know exist via Composer
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    
    # Exclude problematic paths
    excludePaths:
        - vendor/
        - build/
    
    # Minimal ignore patterns for CI
    ignoreErrors:
        # WordPress globals are dynamically defined
        - '#^Variable \$wpdb might not be defined\.$#'
        - '#^Variable \$wp_query might not be defined\.$#'
        - '#^Variable \$post might not be defined\.$#'
        
        # WordPress hook callbacks often have unused or undeclared parameters
        - '#^Function .* has parameter \$[a-zA-Z_]+ with no type specified\.$#'
        
        # WordPress action/filter functions that may not be found
        - '#^Function (apply_filters|do_action|add_filter|add_action|remove_filter|remove_action)\(\) not found\.$#'
        
        # WordPress admin functions
        - '#^Function (is_admin|current_user_can|get_current_user_id)\(\) not found\.$#'
        
        # WordPress plugin functions
        - '#^Function (plugin_dir_path|plugin_dir_url|register_activation_hook|register_deactivation_hook)\(\) not found\.$#'
        
        # WordPress post functions
        - '#^Function (get_post|get_post_meta|update_post_meta|delete_post_meta|wp_insert_post)\(\) not found\.$#'
        
        # WooCommerce functions
        - '#^Function (wc_get_order|wc_get_product|WC|woocommerce_get_template)\(\) not found\.$#'
    
    # Report unused variables and parameters
    reportUnmatchedIgnoredErrors: false
        - '#^Function as_get_scheduled_action not found\.$#'
        - '#^Function as_unschedule_action not found\.$#'
        - '#^Access to constant STATUS_PENDING on an unknown class ActionScheduler_Store\.$#'
